svg#landscape {
    z-index: -1;
    max-height: 100vh;
}

svg#landscape rect#sky {
    fill-opacity: .6;
    fill: url(#skyGradient);
}
#skyGradient .stop1{
    stop-color: #577bcf;
}
#skyGradient .stop2{
    stop-color: #2a3592;
}
svg#landscape g#sun{
    transform: translateX(191px) translateY(259px) scale(1);
}
svg#landscape g#sun image#sunPath{
    transition: transform 1s ease-out;
    -webkit-transition: transform 1s ease-out;
}
.loading svg#landscape g#sun image#sunPath{
    transform: translate(0, 0);
}

svg path.trunk {
    fill: #4e270a;
}

svg path.leaves {
    fill: url('#treeGradient');
}
#treeGradient .stop2{
    stop-color: #24A148;
}
#treeGradient .stop1{
    stop-color: #0db43d;
}
#hill{
    transform: translate(-1px, 151px);
    stroke: #000000;
    stroke-width: 2;
}
#hill path {
    fill: url('#hillGradient');
    stroke: #000000;
    stroke-width: 2;
}
#hillGradient .stop2{
    stop-color: #a0f49c;
}
#hillGradient .stop1{
    stop-color: #ccf5ca;
}
#dusk{
    height: 100%;
    width: 100%;
    fill: #002f5b;
    mix-blend-mode: multiply;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.loaded #dusk{
    opacity: 0;
}

body {
    background: #ececff;
    color: #4e270a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

#energy-card {
    background: rgba(255,255,255,0.7);
    padding: 0.5rem;
    bottom: 3.5rem;
    position: relative;
    text-align: right;
    float: right;
    border-top-left-radius: 0.5rem;
}

.spring #to-spring {
    display: none;
}
.fall #to-fall {
    display: none;
}
#season-change{
    position: absolute;
    right: 0;
}