svg#landscape {
    z-index: -1;
    border: 10pt solid white;
    max-width: 65%;
    max-height: 75vh;
    margin-top: 4em;
}

svg#landscape rect#sky {
    fill-opacity: .6;
    fill: url(#skyGradient);
}
#skyGradient .stop1{
    stop-color: #577bcf;
}
#skyGradient .stop2{
    stop-color: #2a3592;
}
svg#landscape g#sun{
    transform: translateX(191px) translateY(259px) scale(0.6);
}
svg#landscape g#sun g#sunPath{
    transition: transform 1s ease-out;
}
.loading svg#landscape g#sun g#sunPath{
    transform: translate(0, 0);
}
path#sunPathInner{
    fill: #ffd942;
    transform: scale(0.95) translate(22px, 3px)
}
path#sunPathOuter{
    fill: #ff9d42;
}

svg path.trunk {
    fill: #4e270a;
}

svg path.leaves {
    fill: url('#treeGradient');
}
#treeGradient .stop2{
    stop-color: #24A148;
}
#treeGradient .stop1{
    stop-color: #0db43d;
}
#hill path {
    fill: url('#hillGradient');
}
#hillGradient .stop2{
    stop-color: #64bc5f;
}
#hillGradient .stop1{
    stop-color: #81d17d;
}
#dusk{
    height: 100%;
    width: 100%;
    fill: #002f5b;
    mix-blend-mode: multiply;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.loaded #dusk{
    opacity: 0;
}

body {
    background: #ececff;
    color: #4e270a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

#energy-card {
    background: white;
    display: inline-block;
    padding: 10pt;
    margin-right: -40%;
}